{% extends "base-site.html" %}

{% block title %} UI Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
  <link href="../static/css/style.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
<!--      <div class="card-header">-->
<!--        <h4 class="card-title">About Us</h4>-->
<!--      </div>-->
      <div class="card-body">
          <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>About Us</h3>
          <p>Hali Yako was created to specifically come up with a software solution to provide credible source of
              information about Covid19 crisis in real time. We believe Everyone has the right to be safe where
              they live, work, go to school and congregate. And we believe technology is required to make this a reality.
          </p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
                  <p>Curb Covid 19 in Sub-Saharan Africa Save time, money and lives.</p>
                  <p>Provide a platform that collects and aggregate community responses to Covid19 crisis
                      from various sources as they happen and put them on the map.
                  </p>
                  <p>
                    Give the community a chance to communicate what is going on around them in the bid to curb misinformation.
                  </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                  We plan to record emerging issues during Covid19 crisis, allow users to screen themselves for
                  Covid19 symptoms and receive recommendations from the Ministry of Health and Centers for Disease Control and
                  Prevention on what to do next. And Engage the public in reporting and interacting with Covid19 feeds
                  in their immediate neighborhood.

              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="../static/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                  We envision a proactive and informed community that interacts and verifies circulating information.
              </p>
              <p>
                  We believe that only through community involvement will we be able to collect the correct information
                  and have a clear picture of individuals and locations that need attention from all parties that are
                  helping with the fight against Covid19.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->

<!--        <div class="alert alert-info">-->
<!--          <span>About Us</span>-->
<!--        </div>-->
      </div>
    </div>
  </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="../static/js/selfCheck.js"></script>
    <script src="../static/js/main.js"></script>
{% endblock javascripts %}
