{% extends "base-site.html" %}

{% block title %} Trending {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card card-tasks">
          <div class="card-header ">
            <h6 class="title d-inline">Corona Updates</h6>
            <p class="card-category d-inline">today</p>
            <div class="dropdown">
              <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#pablo">Action</a>
                <a class="dropdown-item" href="#pablo">Another action</a>
                <a class="dropdown-item" href="#pablo">Something else</a>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="table-full-width table-responsive">
              <table class="table">
                <tbody>
                {% for new in news %}
                    <tr>
<!--                    <td>-->
<!--                      <div class="form-check">-->
<!--                        <label class="form-check-label">-->
<!--                          <input class="form-check-input" type="checkbox" value="">-->
<!--                          <span class="form-check-sign">-->
<!--                            <span class="check"></span>-->
<!--                          </span>-->
<!--                        </label>-->
<!--                      </div>-->
<!--                    </td>-->
                    <td>
                      <p class="title">{{ new["title"] }}</p>
                      <p class="text-muted">{{ new["body"] }}</p>
                    </td>
<!--                    <td class="td-actions text-right">-->
<!--                      <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">-->
<!--                        <i class="tim-icons icon-pencil"></i>-->
<!--                      </button>-->
<!--                    </td>-->
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
        <div class="col-md-6">
                            <h3>
              <a>
                <strong>Corona Virus related news</strong>
              </a>
            </h3>
            <p>
                Get the latest Covid19 related news from Kenya and the world
            </p>

            <!--/Featured news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://www.standardmedia.co.ke/images/tuesday/dircxipqlspy5e830ecb3b1cd.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://www.standardmedia.co.ke/article/2001366363/the-new-normal-a-food-and-travel-buff-s-corona-experience">

                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://www.standardmedia.co.ke/article/2001366363/the-new-normal-a-food-and-travel-buff-s-corona-experience">
                    The New “Normal”: A food and travel buff's corona experience
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://www.standardmedia.co.ke/images/tuesday/zix654ibibste25e82dfb5714de.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://www.standardmedia.co.ke/business/article/2001366328/uncertain-future-as-key-sectors-catch-corona-bug">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://www.standardmedia.co.ke/business/article/2001366328/uncertain-future-as-key-sectors-catch-corona-bug">
                    Dutch corona death toll tops 1000, but in Brabant there is ...
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://www.dutchnews.nl/wpcms/wp-content/uploads/2020/03/vondel-park-keep-your-distance-640x480.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://www.dutchnews.nl/news/2020/03/dutch-corona-death-toll-tops-1000-but-in-brabant-there-is-improvement/">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://www.dutchnews.nl/news/2020/03/dutch-corona-death-toll-tops-1000-but-in-brabant-there-is-improvement/">
                    Uncertain future as key sectors catch Corona bug
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->
            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://3dwnh01icn0h133s00sokwo1-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/rasanga-pic-e1566896777613.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://citizentv.co.ke/news/siaya-county-government-suspends-tax-collection-for-30-days-over-corona-virus-328303/">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://citizentv.co.ke/news/siaya-county-government-suspends-tax-collection-for-30-days-over-corona-virus-328303/">
                    Siaya County government suspends tax collection for 30 days ...
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://www.cio.co.ke/wp-content/uploads/2020/03/Huawei-officials-pose-before-the-donated-video-conferencing-equipment.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://www.cio.co.ke/uganda-telecom-giants-joins-fight-to-eradicate-new-corona-virus/">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://www.cio.co.ke/uganda-telecom-giants-joins-fight-to-eradicate-new-corona-virus/">
                    Search mounted for 80 people after contact with corona ...
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

        </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
        <script src="../static/js/selfCheck.js"></script>

  </script>

{% endblock javascripts %}
