{% extends "base-site.html" %}
{% from "macros.html" import kenya_covid19 %}

{% block title %} Trending {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="card card-tasks">
          <div class="card-header ">
            <h6 class="title d-inline">Corona Updates</h6>
            <p class="card-category d-inline">today</p>
            <div class="dropdown">
              <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">
                <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#pablo">Action</a>
                <a class="dropdown-item" href="#pablo">Another action</a>
                <a class="dropdown-item" href="#pablo">Something else</a>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <div class="table-full-width table-responsive">
              <table class="table">
                <tbody>
                {% for new in news %}
                    <tr>
<!--                    <td>-->
<!--                      <div class="form-check">-->
<!--                        <label class="form-check-label">-->
<!--                          <input class="form-check-input" type="checkbox" value="">-->
<!--                          <span class="form-check-sign">-->
<!--                            <span class="check"></span>-->
<!--                          </span>-->
<!--                        </label>-->
<!--                      </div>-->
<!--                    </td>-->
                    <td>
                      <p class="title">{{ new["title"] }}</p>
                      <p class="text-muted">{{ new["body"] }}</p>
                    </td>
<!--                    <td class="td-actions text-right">-->
<!--                      <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">-->
<!--                        <i class="tim-icons icon-pencil"></i>-->
<!--                      </button>-->
<!--                    </td>-->
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        {{ kenya_covid19(news_kenya_now) }}
            <!--/Small news-->

      </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script type="module" src="https://unpkg.com/x-frame-bypass"></script>
    <script src="../static/js/selfCheck.js"></script>
{% endblock javascripts %}
