{% macro kenya_covid19_news(news_now) %}
    <h3>
      <a>
        <strong>Corona Virus related news</strong>
      </a>
    </h3>
    <p>
        Get the latest Covid19 related news from Kenya and the world
    </p>

    {% for news in news_now %}
        <hr>
        <!--Small news-->
      <a href="{{ news["news_link"] }}" target="_blank">
        <div class="row">
          <div class="col-md-3">
            <!--Image-->
            <div class="view overlay rounded z-depth-1">
              {% if news["image_link"]  %}
              <img src="{{ news["image_link"] }}" class="img-fluid" alt="news image">
              {% endif %}
              <a href="{{ news["news_link"] }}" target="_blank">

                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>

          <!--Excerpt-->
          <div class="col-md-9">
            <p class="dark-grey-text">
              <strong>{{ news["date_posted"] }}</strong>
            </p>
            <a href="{{ news["news_link"] }}">
                <p>{{ news["title"] }}</p>
              <i class="fas fa-angle-right float-right"></i>
            </a>
          </div>
        </div>
      </a>
    {% endfor %}

{% endmacro %}

{% macro kenya_covid19(news_now) %}
    <section class="section widget-content">
            <!-- Heading -->
        <h4 class="font-weight-bold pt-2"><strong>FEATURED POSTS</strong></h4>
        <hr class="red title-hr mb-4">

            <!--/ Card -->
        <div class="card card-body pb-0 hoverable">
            {% for news in news_now %}
              <hr>
              <div class="single-post">

                <!-- Grid row -->
                <div class="row">
                  <div class="col-4">

                    <!-- Image -->
                    <div class="view overlay">
                      <img src="{{ news["image_link"] }}" class="img-fluid rounded-0" alt="sample image">
                      <a href="{{ news["news_link"] }}" target="_blank">
                        <div class="mask rgba-white-slight waves-effect waves-light"></div>
                      </a>
                    </div>
                  </div>

                  <!-- Excerpt -->
                  <div class="col-8">
                      <a href="{{ news["news_link"] }}">
                    <h6 class="mt-0 mb-3"><a><strong>{{ news["title"] }}</strong></a></h6>
                      </a>
                    <div class="post-data">
                      <p class="font-small grey-text mb-0"><i class="far fa-clock-o"></i> {{ news["date_posted"] }}</p>
                    </div>
{#                      <a class="btn btn-indigo btn-sm waves-effect waves-light newsDisplay"#}
{#                         data-toggle="modal" data-target="#newsFeed{{ loop.index0 + 1 }}">Read more</a>#}
                  </div>
                  <!--/ Excerpt -->
                </div>
                    <i class="fas fa-chevron-down flex-center arrowDown"  data-toggle="modal" data-target="#newsFeed{{ loop.index0 + 1 }}"></i>
                <!--/ Grid row -->
              </div>
                <!-- News Modal -->
                <div class="modal fade" id="newsFeed{{ loop.index0 + 1 }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">

                    <!--Content-->
                    <div class="modal-content">

                      <!--Body-->
                      <div class="modal-body mb-0 p-0">

                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                          <iframe is="x-frame-bypass" class="embed-responsive-item" src="{{ news["news_link"] }}" allowfullscreen></iframe>
                        </div>
                      </div>

                      <!--Footer-->
                      <div class="modal-footer justify-content-center">
                        <span class="mr-4">Spread the word!</span>
                        <a type="button" class="btn-floating btn-sm btn-fb"><i class="fab fa-facebook-f"></i></a>
                        <!--Twitter-->
                        <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                        <!--Google +-->
                        <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fab fa-google-plus-g"></i></a>
                        <!--Linkedin-->
                        <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

                      </div>

                    </div>
                    <!--/.Content-->

                  </div>
                </div>
<!--Modal: Name-->
            {% endfor %}
        </div>
    </section>

{% endmacro %}