<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav fixed mdb-sidenav" style="width: 240px;">
  <ul class="custom-scrollbar list-unstyled ps ps--active-y"
      style="max-height:100vh; padding-bottom:90px; position:relative;">
    <!-- Logo -->
    <li>
      <div class="logo-wrapper waves-light">
          <h3 class="m-4 " >Hali Yetu</h3>
      </div>
    </li>
      {% if current_user.is_authenticated  %}
    <li class="mx-auto #f3e5f5 purple lighten-3">
        <div class="container">
          <!--Avatar-->
          <div class="row">
              <div class="col-4">
            <div class="avatar">
              <img src="../static/img/avatar.jpg" alt="avatar mx-auto white" class="rounded-circle pt-2" width="80px">
            </div>

              </div>
              <div class="col-8">
                <p class="ml-2 mt-3 text-black">Welcome, </p>
                <strong><p class="mt-6 ml-2 pull-left">{{current_user.username}}</p></strong>
              </div>

          </div>
        </div>
    </li>
      {% endif %}
    <!--/. Logo -->
    <!-- Side navigation links -->
{#  <ul class="collapsible collapsible-accordion">#}
      <li id="corona_status" class="active menu-item-active ">
        <a class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-home pr-3"></i>
          Home
        </a>
      </li>
      <li id="self_checker">
        <a class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-comment-medical pr-3"></i>
          Corona Self-Checker
        </a>
      </li>
{#      <li id="report_covid19" class="active ">#}
{#        <div class="mt-4">#}
{#            <img src="https://secure.gravatar.com/avatar/010d86682f7a05c98a4cdde089bf210a?s=96&amp;d=mm&amp;r=g" class="rounded-circle z-depth-1" style="width: 70px;">#}
{#        </div>#}
{#        <a class="collapsible-header waves-effect arrow-r">#}
{#          <p>Report Corona</p>#}
{#        </a>#}
{#      </li>#}
      <li class="active menu-item-active">
        <a  class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-users pr-3"></i>
          About Us
        </a>
      </li>

      <li class="active menu-item-active">
        <a class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-address-book pr-3"></i>
          Contact Us
        </a>
      </li>
{#    <li>#}
{#        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-chevron-right"></i> Submit#}
{#            blog<i class="fas fa-angle-down rotate-icon"></i></a>#}
{#          <div class="collapsible-body">#}
{#            <ul>#}
{#              <li><a href="#" class="waves-effect">Submit listing</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">Registration form</a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </li>#}
{#        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-hand-pointer-o"></i>#}
{#            Instruction<i class="fas fa-angle-down rotate-icon"></i></a>#}
{#          <div class="collapsible-body">#}
{#            <ul>#}
{#              <li><a href="#" class="waves-effect">For bloggers</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">For authors</a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </li>#}
{#        <li>#}
{#            <a class="collapsible-header waves-effect arrow-r"><i class="fas fa-eye"></i> About<i class="fas fa-angle-down rotate-icon"></i></a>#}
{#          <div class="collapsible-body">#}
{#            <ul>#}
{#                <li>#}
{#                    <div id="step-0" class="card text-center mb-4 tour step-0" title="" data-index="0" gtm-id="Profile Card" data-original-title="Welcome">#}
{#                        <!--Avatar-->#}
{#                        <div class="mt-4">#}
{#                            <img src="https://secure.gravatar.com/avatar/010d86682f7a05c98a4cdde089bf210a?s=96&amp;d=mm&amp;r=g" class="rounded-circle z-depth-1" style="width: 70px;">#}
{#                        </div>#}
{#                        <div id="step-3" class="card-body tour step-3" title="" data-index="3" data-original-title="3. Profile card">#}
{#                                            <!--Name-->#}
{#                            <h5 class="card-title font-weight-bold">#}
{#                                <a href="">Third Party</a>#}
{#                            </h5>#}
{#                        </div>#}
{#                    </div>#}
{#                </li>#}
{#              <li><a href="#" class="waves-effect">Introduction</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">Monthly meetings</a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </li>#}
{#        <li><a class="collapsible-header waves-effect arrow-r"><i class="fas fa-envelope-o"></i> Contact me<i#}
{#              class="fas fa-angle-down rotate-icon"></i></a>#}
{#          <div class="collapsible-body">#}
{#            <ul>#}
{#              <li><a href="#" class="waves-effect">FAQ</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">Write a message</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">FAQ</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">Write a message</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">FAQ</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">Write a message</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">FAQ</a>#}
{#              </li>#}
{#              <li><a href="#" class="waves-effect">Write a message</a>#}
{#              </li>#}
{#            </ul>#}
{#          </div>#}
{#        </li>#}
{#      </ul>#}
{#    </li>#}
    <!--/. Side navigation links -->
  </ul>
  <div class="sidenav-bg mask-strong">
{#              <ul class="social m-3 p-2">#}
{#                <li><a href="#" class="icons-sm fb-ic"><i class="fab fa-facebook-f"> </i></a></li>#}
{#                <li><a href="#" class="icons-sm pin-ic"><i class="fab fa-pinterest"> </i></a></li>#}
{#                <li><a href="#" class="icons-sm gplus-ic"><i class="fab fa-google-plus-g"> </i></a></li>#}
{#                <li><a href="#" class="icons-sm tw-ic"><i class="fab fa-twitter"> </i></a></li>#}
{#              </ul>#}
      <li id="self_checker">
        {% if current_user.is_authenticated  %}
        <a class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-sign-out-alt pr-3"></i>
            Logout
        </a>
      </li>
      {% else %}
      <li id="self_checker">
          <a class="collapsible-header waves-effect arrow-r" data-toggle="modal" data-target="#logSign_modal">
            <i class="fas fa-sign-in-alt pr-3"></i>
            Login | Sign Up
        </a>
      </li>
      {% endif %}
  </div>
</div>
<!--/. Sidebar navigation -->