<nav class="navbar fixed-top navbar-expand-md navbar-dark double-nav scrolling-navbar m-0 p-0" style="background-color: #240938">
  <a class="navbar-brand" href="#">
   <img src="../static/img/f06662b7-b3b1-4ebb-8e46-71913037ce78_200x200.png" height="40" alt="Hali Yetu" class="ml-2 mt-0 mb-0 pt-0 pb-0">
  </a>
  <span id="username" style="display: none">{{current_user.username}}</span>

  <!-- SideNav slide-out button -->
  <div  id="menuIcon" class="float-right menuBtn" >
    <a id="sidebarCollapse"  class=" p-3 button-collapse"><i class="fas fa-bars"></i></a>
  </div>
  <div  id="navTimesIcon" class="float-right" style="display: none">
    <a  id="sidebarhide" class=" p-3" ><i  class="fas fa-times"></i></a>
  </div>
</nav>
