
<nav id="navRegular" class=" navbar fixed-top navbar-expand-md navbar-dark double-nav scrolling-navbar m-0 p-0" style="background-color: #240938">
 <div class="d-flex justify-content-center" style="width: 100%">
  <div   style="max-width: 1200px; width: 100%">
      <a class="navbar-brand" href="#">
       <img src="../static/img/f06662b7-b3b1-4ebb-8e46-71913037ce78_200x200.png" height="40" alt="Hali Yetu" class="ml-2 mt-0 mb-0 pt-0 pb-0">
      </a>
      <span id="username" style="display: none">{{current_user.username}}</span>

      <!-- SideNav slide-out button -->
            <div id="navmenu" class="bar-anime float-right mr-2 mt-3 mb-0 d-sm-none" onclick="showx(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>

    {#        <div  id="menuIcon" class="float-right menuBtn" >#}
    {#        <a id="sidebarCollapse"  class=" p-3 button-collapse"><i class="fas fa-bars"></i></a>#}
    {#        </div>#}
    {#        <div  id="navTimesIcon" class="float-right" style="display: none">#}
    {#        <a  id="sidebarhide" class=" p-3" ><i  class="fas fa-times"></i></a>#}
    </div>

 </div>
</nav>
<nav id="navBackButton" class="wow fadeInRight navbar fixed-top navbar-expand-md navbar-dark double-nav scrolling-navbar m-0 p-0" style="background-color: #240938; display: none">
  <div>
      <a class="py-3 mr-2 button-collapse">
          <img src="../static/icons/svg/back.svg" height="18px" width="18px" >
<!--          <i class="fas fa-arrow-left"></i>-->
      </a>
  </div>
</nav>
<nav id="navReply" class="wow fadeInRight navbar fixed-top navbar-expand-md navbar-dark double-nav scrolling-navbar m-0 p-0" style="background-color: #240938; color: #FFFAFA; display: none">
    <span id="replySpan" style="display:none;"></span>
    <div class="d-flex justify-content-between align-items-center pr-3 py-3">
      <div class="d-flex  align-items-center">
         <a id="navReply_i" class="  button-collapse  ml-0">
             <img src="../static/icons/svg/x.svg" height="16px" width="16px" >
<!--             <i class="fas fa-times" style="font-size: 20px"></i>-->
         </a>
         <a id="navReplyHead" class="ml-2 pl-4" style=" font-size: 18px; color: #f2f2f2">Reply to post</a>
      </div>

      <a id="navReplyPost" onclick="submit_comment_prev()" style=" font-size: 14px; color: #a6a6a6">post</a>
  </div>
</nav>
<nav id="navOther" class="wow fadeInRight navbar fixed-top navbar-expand-md navbar-dark double-nav scrolling-navbar p-2" style="background-color: #240938; display: none">
  <div class="d-flex justify-content-center text-center">
      <h4 id="navOtherTitle" class="my-0">News</h4>
  </div>
</nav>