<!-- Sidebar navigation -->
<div id="sidebar" class="sidenav white-text">
      <ul class="custom-scrollbar list-unstyled ps ps--active-y"
      style="max-height:100vh; padding-bottom:90px; position:relative;">
    <!-- Logo -->

    <li id="navUserImg" class="mx-auto #f3e5f5 purple lighten-3 d-sm-none">
        <div class="container" >
          <!--Avatar-->
          <div class="row">
              <div class="col-4">
            <div class="avatar">
              <img src="../static/img/avatar.jpg" alt="avatar mx-auto white" class="rounded-circle pt-2" width="80px">
            </div>

              </div>
              <div class="col-8">
                <p id="navWelcome" class="ml-2 mt-3 text-black">Welcome, </p>
                <strong><p id="navUsername" class="mt-6 ml-2 pull-left">{{current_user.username}}</p></strong>
              </div>

          </div>
        </div>
    </li>
      <li id="navDownload" class="d-sm-none">
        <a class="collapsible-header waves-effect arrow-r" data-toggle="modal" data-target="#downloadApp">
            <i class="fas fa-download pr-3"></i>
            Download App
        </a>
      </li>

      <li id="self_switch">
        <a class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-briefcase-medical pr-3"></i>
          Corona-Self-Checker
        </a>
      </li>


      <li id="navCoronaNumbers">
        <a class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-table pr-3"></i>
          Corona Numbers
        </a>
      </li>

      <li id="navAboutUs" class="active menu-item-active">
        <a  class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-users pr-3"></i>
          About Us
        </a>
      </li>

      <li id="navContactUs" class="active menu-item-active">
        <a class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-address-book pr-3"></i>
          Contact Us
        </a>
      </li>
      <li id="navLogout" style="display: none">
        <a class="collapsible-header waves-effect arrow-r">
            <i class="fas fa-sign-out-alt pr-3"></i>
            Logout
        </a>
      </li>
      <li id="navLogSig" style="display: none">
          <a class="collapsible-header waves-effect arrow-r" data-toggle="modal" data-target="#logSign_modal">
            <i class="fas fa-sign-in-alt pr-3"></i>
            Login | Sign Up
        </a>
      </li>
  </ul>

</div>
<!--/. Sidebar navigation -->