{% extends "new_base.html" %}
{% from "macros.html" import kenya_covid19 %}

<!-- Page Title goes HERE -->
{% block title %}Home{% endblock %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="../static/css/custom.css" rel="stylesheet">
{% endblock stylesheets %}


<!-- Page body Content goe HERE  -->
{% block content %}
    <div class="container mb-1 pt-4">
      <div class="row">
        <div class="col-xs-3">
          <div class="card text-white ml-2 info-color rounded-0">
            <div class="card-title text-center mt-3 mr-3 ml-3 mb-0" style="width: 38px"><strong>{{ kenya_numbers['tests']['total'] }}</strong></div>
            <div class="card-content">
              <small><p class="text-center mb-1 font-weight-light">Tested</p></small>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="card text-white ml-2 info-color rounded-0">
            <div class="card-title text-center mt-3 mr-3 ml-3 mb-0" style="width: 38px"><strong>{{ kenya_numbers["cases"]["total"] }}</strong></div>
            <div class="card-content">
              <small><p class="text-center mb-1 mr-1 ml-1 font-weight-light">Confirmed</p></small>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="card text-white ml-2 info-color rounded-0">
              <div class="card-title text-center mt-3 mr-3 ml-3 mb-0" style="width: 38px"><strong>{{ kenya_numbers["cases"]["recovered"] }}</strong></div>
            <div class="card-content">
              <small><p class="text-center mb-1 mr-1 ml-1 font-weight-light">Recovered</p></small>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="card text-white ml-2 info-color rounded-0">
            <div class="card-title text-center mt-3 mr-3 ml-3 mb-0" style="width: 38px"><strong>{{ kenya_numbers["deaths"]["total"] }}</strong></div>
            <div class="card-content">
              <small><p  class="text-center mb-1 mr-2 ml-2 font-weight-light">Deaths</p></small>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>
    <!-- Modal news ifram modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" style="display: none;" data-gtm-vis-first-on-screen-2340190_1302="30021" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>

                  <div class="modal-body">
                      <iframe id="iframeId" style="border:none;" height="500" width="100%" class="embed-responsive-item" src="https://www.standardmedia.co.ke/article/2001368014/covid-19-boost-for-homa-bay-medics-as-county-buys-sh3-8m-ppes" allowfullscreen></iframe>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
    <div class="modal fade" id="logSign_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Modal cascading tabs-->
      <div class="modal-c-tabs">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs md-tabs tabs-2 purple-gradient" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i class="fas fa-user mr-1"></i>
              Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i class="fas fa-user-plus mr-1"></i>
              Register</a>
          </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">
          <!--Panel 7-->
          <div class="tab-pane fade in show active" id="panel7" role="tabpanel">
                <!--Body-->
                <div class="modal-body mb-1">
                    <form id="logIn_form" method="post">
                          <p id="error_message" style="color: red; display: none">*Check username and password</p>
                          <div class="md-form form-sm mb-5">
                            <i class="fas fa-user prefix"></i>
                            <input type="text" name="username" id="form22" class="form-control">
                            <label for="form22">Your username</label>
                          </div>

                          <div class="md-form form-sm mb-4">
                            <i class="fas fa-lock prefix"></i>
                            <input type="password" name="password" id="form23" class="form-control">
                            <label for="form23">Your password</label>
                          </div>
                          <div class="text-center mt-2">
                            <button id="submitLogInForm" type="button" class="btn btn-rounded z-depth-1 purple-gradient">
                                Log in
                                <i class="fa fa-sign-in ml-1"></i>
                            </button>
                          </div>
                    </form>
                </div>

            <!--Footer-->
            <div class="modal-footer">
               <small> <p>Not a member? <a data-toggle="tab" href="#panel8" class="blue-text">Sign Up</a></p> </small>
{#                <p>Forgot <a href="#" class="blue-text">Password?</a></p>#}
                <button type="button" class="btn btn-outline-danger btn-rounded waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>

          </div>
          <!--/.Panel 7-->

          <!--Panel 8-->
          <div class="tab-pane fade" id="panel8" role="tabpanel">
            <form id="signUp_form" method="post">
                <!--Body-->
                <div class="modal-body">
                  <p id="error_signup" style="color: red;"></p>
                  <div class="md-form form-sm mb-5">
                    <i class="fas fa-user prefix"></i>
                    <input type="text" name="username" id="form24" class="form-control">
                    <label for="form24">choose username</label>
                  </div>

                  <div class="md-form form-sm mb-5">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" name="password" id="form25" class="form-control">
                    <label for="form25">choose password</label>
                  </div>

                  <div class="md-form form-sm mb-4">
                    <i class="fas fa-lock prefix"></i>
                    <input type="password" id="form26" class="form-control">
                    <label for="form26">Repeat password</label>
                  </div>

                  <div class="text-center form-sm mt-2">
                    <button type="button" id="signUpBtn" class="btn btn-rounded z-depth-1 purple-gradient ">
                        Sign up
                        <i class="fas fa-sign-in ml-1"></i>
                    </button>
                  </div>

                </div>
            </form>
            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <small><p class="pt-1">Already have an account? <a href="#" class="blue-text">Log In</a></p></small>
              <button type="button" class="btn btn-outline-danger btn-rounded waves-effect ml-auto" data-dismiss="modal">Close</button>
            </div>
          </div>
          <!--/.Panel 8-->
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login / Register Form-->

        <!-- Central Modal Medium Info -->
        <div class="modal fade" id="notSignedIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-notify modal-info" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                        <p class="heading lead">Not Logged In</p>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="white-text">&times;</span>
                        </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                        <div class="text-center">
<!--                            <i class="fa fa-check fa-4x mb-1 animated rotateIn"></i>-->
                            <p id="activity"></p>
                            <p>If you don't have an account you can quickly create username and password</p>
                            <p><mark>No email or phone number needed.</mark></p>
                        </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <a type="button" href="http://localhost:8080/login"  class="btn btn-primary">Log In<i class="fa fa-diamond ml-1"></i></a>
                        <a type="button" href="http://localhost:8080/register"  class="btn btn-primary">Create Account<i class="fa fa-diamond ml-1"></i></a>
                        <a type="button"  class="btn btn-primary waves-effect" data-dismiss="modal">No thanks</a>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!-- Central Modal Medium Info-->
{#    <div class="card card-plain">#}
{#        <div class="card-title text-center">Kenya Corona Virus Tracker</div>#}
{#        <table id="dtBasicExample" class="table tablesorter table-striped table-hover w-auto " id="">#}
{#            <thead class="m-0 primary">#}
{#              <tr>#}
{#                <th class="text-center text-primary pb-0 pt-0">#}
{#                  <strong >Tested</strong>#}
{#                </th>#}
{#                <th class="text-center text-warning pb-0 pt-0">#}
{#                  <strong>Confirmed</strong>#}
{#                </th>#}
{#                <th class="text-center green-text pb-0 pt-0">#}
{#                  <strong>Recovered</strong>#}
{#                </th>#}
{#                <th class="text-center text-danger pb-0 pt-0">#}
{#                  <strong>Deaths</strong>#}
{#                </th>#}
{#              </tr>#}
{#            </thead>#}
{#            <tbody class="m-0 p-0">#}
{#              <tr>#}
{#                <td class="text-center text-primary pt-1 pb-0">#}
{#                  <strong>{{ kenya_numbers['tests']['total'] }}</strong>#}
{#                </td>#}
{#                <td class="text-center text-warning pt-1 pb-0">#}
{#                    <strong>{{ kenya_numbers["cases"]["total"] }}</strong>#}
{#                </td>#}
{#                <td class="text-center green-text pt-1 pb-0">#}
{#                    <strong>{{ kenya_numbers["cases"]["recovered"] }}</strong>#}
{#                </td>#}
{#                <td class="text-center text-danger pt-1 pb-0">#}
{#                    <strong>{{ kenya_numbers["deaths"]["total"] }}</strong>#}
{#                </td>#}
{#              </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">#}
{#      <label class="btn btn-primary p-1">#}
{#        Tested <span class="badge badge-danger ml-1">{{ kenya_numbers['tests']['total'] }}</span>#}
{#      </label>#}
{#      <label class="btn btn-primary p-1">#}
{#        Confirmed <span class="badge badge-danger ml-1">{{ kenya_numbers["cases"]["total"] }}</span>#}
{#      </label>#}
{#      <label class="btn btn-primary p-1">#}
{#        Deaths <span class="badge badge-danger ml-1">{{ kenya_numbers["deaths"]["total"] }}</span>#}
{#      </label>#}
{#      <label class="btn btn-primary p-1">#}
{#        Recovered <span class="badge badge-danger ml-1">{{ kenya_numbers["cases"]["recovered"] }}</span>#}
{#      </label>#}
{#    </div>#}
    <section class="#f3e5f5 purple lighten-5">
    <ul class="nav pills-secondary md-pills d-sm-none m-0 p-0 rounded-0" id="myTabJust">
      <li class="nav-item pl-2 p-0">
        <a class="nav-link active" id="chats-tab-just" data-toggle="tab" href="#chats-tab" role="tab" aria-controls="home-just"
          aria-selected="true">Chats</a>
      </li>
      <li class="nav-item ml-2 p-0">
        <a class="nav-link" id="news-tab-just" data-toggle="tab" href="#news-tab" role="tab" aria-controls="profile-just"
          aria-selected="false">News</a>
      </li>
      <li class="nav-item ml-2 p-0">
        <a class="nav-link" id="corona-tab-just" data-toggle="tab" href="#self_checker_div" role="tab" aria-controls="corona-just"
          aria-selected="false">Corona Self-Checker</a>
      </li>
    </ul>
    </section>
    <!-- Corona updates row -->
    <div class="container-fluid m-0 p-0">
        <div class="tab-content card p-0" id="myTab ContentJust">
          <div class="tab-pane fade show active" id="chats-tab" role="tabpanel" aria-labelledby="chats-tab-just">

{#    <div class="row">#}
{#        <div class="col-xs-3">#}
{#            <strong><p class="text-primary text-center">Tested</p></strong>#}
{#            <button  class="btn btn-primary">{{ kenya_numbers['tests']['total'] }}</button>#}
{#        </div>#}
{#        <div class="col-xs-3">#}
{#            <p class="text-warning text-center">Confirmed</p>#}
{#            <button  class="btn btn-warning">{{ kenya_numbers["cases"]["total"] }}</button>#}
{#        </div>#}
{#        <div class="col-xs-3">#}
{#            <p class="text-danger text-center">Deaths</p>#}
{#            <button  class="btn btn-danger">{{ kenya_numbers["deaths"]["total"] }}</button>#}
{#        </div>#}
{#        <div class="col-xs-3">#}
{#            <p class="text-success text-center">Recovered</p>#}
{#            <button class="btn btn-success">{{ kenya_numbers["cases"]["recovered"] }}</button>#}
{#        </div>#}
{#    </div>#}
{#        <div class="row align-content-end">#}
{#            <div class="col-xs-12">#}
{#                <div class="card mb-3">#}
{#                    <div class="card-header">#}
{#                        <h6 class="text-white text-center"> Kenya Corona Virus Tracker</h6>#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <div class="row align-content-center">#}
{#                            <div class="col-xs-3">#}
{#                                <strong><h6 class="text-primary text-center">Tested</h6></strong>#}
{#                                <button  class="btn btn-primary">{{ kenya_numbers['tests']['total'] }}</button>#}
{#                            </div>#}
{#                            <div class="col-xs-3">#}
{#                                <h6 class="text-warning text-center">Confirmed</h6>#}
{#                                <button  class="btn btn-warning">{{ kenya_numbers["cases"]["total"] }}</button>#}
{#                            </div>#}
{#                            <div class="col-xs-3">#}
{#                                <h6 class="text-danger text-center">Deaths</h6>#}
{#                                <button  class="btn btn-danger">{{ kenya_numbers["deaths"]["total"] }}</button>#}
{#                            </div>#}
{#                            <div class="col-xs-3">#}
{#                                <h6 class="text-success text-center">Recovered</h6>#}
{#                                <button class="btn btn-success">{{ kenya_numbers["cases"]["recovered"] }}</button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xs-12">#}
{#                <div class="col-md-12">#}
{#                    <div class="card bg-transparent border-0 mb-3">#}
{#                        <div class="card-body p-0">#}
{#                            <a href="#" class="bg-white bt-3 bt-primary ds-8 ds-5 border-0 mb-3 nav-btn nav-btn-horizontal noLinking noDecoration card">#}
{#                             <div class="card-body ">#}
{#                              <div class="row">#}
{#                               <div class="col-md-1 mr-2">#}
{#                                    <span class="sr-only">chat icon</span>#}
{#                                    <span class="fi cdc-icon-chat_03 x64 inline-block fill-cyan-p" aria-hidden="true"></span>#}
{#                               </div>#}
{#                               <div class="col">#}
{#                                    <h4 class="mb-2">Self-Checker</h4>#}
{#                                    <p>A guide to help you make decisions and seek appropriate medical care</p>#}
{#                               </div>#}
{#                              </div>#}
{#                             </div>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row" style="height: 100vh">
        <!--Modal: Login / Register Form-->

        <div id="graph_status_div" style="display: none;" class="col-lg-8 col-md-8 col-xs-12 scrollable-column" >
        <div class="card card-tasks">
          <div class="card-header " >
            <h6 class="title d-inline" >Corona Status</h6><button id="self_checker_btn" class="btn-primary pull-right"y>self-checker</button>

<!--            <div class="dropdown">-->
<!--              <button type="button" class="btn btn-link dropdown-toggle btn-icon" data-toggle="dropdown">-->
<!--                <i class="tim-icons icon-settings-gear-63"></i>-->
<!--              </button>-->
<!--              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">-->
<!--                <a class="dropdown-item" href="#pablo">Action</a>-->
<!--                <a class="dropdown-item" href="#pablo">Another action</a>-->
<!--                <a class="dropdown-item" href="#pablo">Something else</a>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="card-body " >
              <h7 id="total_surveys_h" class="title d-inline">20 </h7> <h7> self checkers</h7>
<!--            <p class=" d-inline">surveys</p>-->
            <div class="card-category  dropdown d-inline">
              <button type="button" class="btn-primary dropdown-toggle pull-right" data-toggle="dropdown">filter options</button>
              <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" onclick="displaySelect(1)">Filter by age</a>
                <a class="dropdown-item" onclick="displaySelect(2)">Filter by gender</a>
                <a class="dropdown-item" onclick="displaySelect(3)">Filter by county</a>
              </div>
            </div><br>
              <div id="select_container_div">
                  <select id="select_age" class="mdb-select md-form colorful-select dropdown-secondary"  onChange="update_values_of_graph(this.value,0,0);" style="display: none">
                        <option value="0">all ages</option>
                      <option value="20">1 - 20 yrs</option>
                              <option value="30"> 21 - 30 yrs</option>
                              <option value="40"> 31 - 40 yrs</option>
                              <option value="50"> 40 - 50 yrs</option>
                              <option value="60"> 50 - 60 yrs</option>
                              <option value="100"> 60 yrs and above</option>

                  </select>
                  <select id="select_gender" class="mdb-select md-form colorful-select dropdown-secondary"  onChange="update_values_of_graph(0,this.value,0);" style="display: none">
                      <option  value="0">both genders</option>
                      <option  value="1">male</option>
                      <option  value="2">female</option>
                  </select>
                  <select id="select_county" class="mdb-select md-form colorful-select dropdown-secondary" searchable="Search here.." onChange="update_values_of_graph(0,0,this.selectedIndex);"  style="display: none">
                      <option value="0">all counties</option>
                              {% for county in counties %}
                                  <option value="{{ county["code"] }}">{{ county["code"] }} : {{ county["name"] }}</option>
                              {% endfor %}
                  </select>
              </div><br>


<!--             <div class="w3-light-grey">-->
<!--                 <h7 id="total_surveys_h"  class="d-inline">{{graph["total"]}} self-checker surveys</h7>-->
<!--             </div>-->


<!--              <p id="graph-stats" class="w3-container">-->

<!--                <h2 style="display:inline;">Covid Status  </h2><h3 style="display:inline;"> for 10,000</h3>-->
<!--                <p>status as per individual self checker survey.</p>-->
                <div class="w3-light-grey">
                     <div id ="stat1" class="w3-red " data-value='{{graph["not_ill"]}}' style="height:24px;width:50%">
                         <div id ="name1" class="w3-black " style="height:24px;width:100%">fever</div>
                     </div>
                </div><br>

                <div class="w3-light-grey">
                     <div id = "stat2" class="w3-red bur"  data-value='{{graph["fever"]}}' style="height:24px;width:50%">
                         <div id ="name2" class="w3-black " style="height:24px;width:100%">dry cough</div>
                     </div>
                </div><br>
                <div class="w3-light-grey bur">
                  <div id ="stat3" class="w3-red"  data-value='{{graph["cough"]}}'style="height:24px;width:50%">
                      <div id ="name3" class="w3-black " style="height:24px;width:100%">fatigue</div>
                  </div>
                </div><br>
                <div class="w3-light-grey">
                  <div id ="stat4" class="w3-red"  data-value='{{graph["breath"]}}'style="height:24px;width:50%">
                      <div id ="name4" class="w3-black " style="height:24px;width:100%">short breath</div>
                  </div>
                </div><br>
                <div class="w3-light-grey">
                  <div id ="stat5" class="w3-red"  data-value='{{graph["ill"]}}' style="height:24px;width:50%">
                      <div id ="name5" class="w3-black " style="height:24px;width:100%">sore throat</div>
                  </div>
                </div><br>
              <div class="w3-light-grey">
                  <div id ="stat6" class="w3-red"  data-value='{{graph["ill"]}}' style="height:24px;width:50%">
                      <div id ="name6" class="w3-black " style="height:24px;width:100%">headache</div>
                  </div>
                </div><br>
              <div class="w3-light-grey">
                  <div id ="stat7" class="w3-red"  data-value='{{graph["ill"]}}' style="height:24px;width:50%">
                      <div id ="name7" class="w3-black " style="height:24px;width:100%">ill</div>
                  </div>
                </div><br>



<!--            <div class="table-full-width table-responsive">-->
<!--              <table class="table">-->
<!--                <tbody>-->
<!--                {% for new in news %}-->
<!--                    <tr>-->
<!--&lt;!&ndash;                    <td>&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="form-check">&ndash;&gt;-->
<!--&lt;!&ndash;                        <label class="form-check-label">&ndash;&gt;-->
<!--&lt;!&ndash;                          <input class="form-check-input" type="checkbox" value="">&ndash;&gt;-->
<!--&lt;!&ndash;                          <span class="form-check-sign">&ndash;&gt;-->
<!--&lt;!&ndash;                            <span class="check"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                          </span>&ndash;&gt;-->
<!--&lt;!&ndash;                        </label>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </td>&ndash;&gt;-->
<!--                    <td>-->
<!--                      <p class="title">{{ new["title"] }}</p>-->
<!--                      <p class="text-muted">{{ new["body"] }}</p>-->
<!--                    </td>-->
<!--&lt;!&ndash;                    <td class="td-actions text-right">&ndash;&gt;-->
<!--&lt;!&ndash;                      <button type="button" rel="tooltip" title="" class="btn btn-link" data-original-title="Edit Task">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="tim-icons icon-pencil"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                      </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </td>&ndash;&gt;-->
<!--                  </tr>-->
<!--                {% endfor %}-->

<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->
          </div>
        </div>
      </div>


<!-- CORONA SELF CHECKER-->
   <div id="self_checker_div" aria-labelledby="corona-tab-just"  style="display: none;" role="tabpanel"
        class="col-lg-8 col-md-8 col-xs-12 tab-pane fade scrollable-column">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Corona Self-Checker</h4>
      </div>
      <div class="card-body">
        <form id="submit_survey_form" method="post">
            <fieldset class="form-group">
                  <div >
                      <p>Welcome to Hali Yako self check.</p><br>
                      <p class="text-muted" >Self Checker is meant as a guide to help you make decisions and seek appropriate
                          medical care. This system is not intended for the diagnosis or treatment of any disease or other
                          conditions including corona. This is an anonymous survey and will not collect information about your
                          name or address of where you live. During the assesment, if you make a mistake you can cance
                      and start the start again.</p>
                     <p class="text-muted"> Thank you for participating. Hali Yako ni Hali Yetu.</p><br>
                  <div id="selectCheckerParent">
                      <p>Are you answering for yourself or someone else.</p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio" id="checkMyself" name="selectChecker">
                      <label class="custom-control-label" for="checkMyself">1. Myself.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio" id="checkSomeoneElse" name="selectChecker">
                      <label class="custom-control-label" for="checkSomeoneElse">2. Someone else.</label>
                    </div>
                      <input  id="checkerHiddenInput" name="checkerHiddenInput" style="display: none;">

                  </div>

                  <!-- User answered 1 -->
                  <div id="selectLocation" class="hide-later" style="display: none;">
                    <br><p id="selectLocationQuestion"></p>
                      <select class="mdb-select md-form raddio colorful-select dropdown-secondary" searchable="Search here.." id="selectCountyOption" name = "selectCountyOption">
                              <option value="">Choose your county</option>
                          {% for county in counties %}
                              <option value="{{ county["code"] }}">{{ county["code"] }} : {{ county["name"] }}</option>
                          {% endfor %}
                      </select>
                  </div>
                   <div id="ifIll" class="hide-later" style="display: none">
                     <br> <p id="ifIllQuestion"></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio" id="isIll" name="ill">
                      <label class="custom-control-label" for="isIll">1. Yes</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio" id="notIll" name="ill">
                      <label class="custom-control-label" for="notIll">2. No</label>
                    </div>
                      <input  id="illCheckerHidden" name="checkerHiddenInput" style="display: none;">

                  </div>
                  <div id="selectAge" class="hide-later" style="display: none;">
                      <br>
                    <p id="selectAgeQuestion"></p>
                      <select class="mdb-select md-form raddio colorful-select dropdown-secondary" searchable="Search here.." id="selectAgeOption" name="selectAgeOption">
                              <option value=""></option>

                              <option value="20">1 - 20 yrs</option>
                              <option value="30"> 21 - 30y rs</option>
                              <option value="40"> 31 - 40 yrs</option>
                              <option value="50"> 40 - 50 yrs</option>
                              <option value="60"> 50 - 60y rs</option>
                              <option value="100"> 60 yrs and above</option>
<!--                          {% for i in range(1,100) %}-->
<!--                              <option value="{{ i }}">{{ i }}</option>-->
<!--                          {% endfor %}-->
                      </select>
                  </div>

                  <div id="selectGender" class="hide-later" style="display: none;">
                      <br><p id="selectGenderQuestion"></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio genderOption" id="genderMale" name="selectGender">
                      <label class="custom-control-label" for="genderMale">1. Male.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio genderOption" id="genderFemale" name="selectGender">
                      <label class="custom-control-label" for="genderFemale">2. Female.</label>
                    </div>
                      <input  id="genderHiddenInput" name="genderHiddenInput" style="display: none;">
                  </div>
                  <div id="selectSymptoms" class="hide-later" style="display: none;">
                      <br> <p id="selectSymptomsQuestion"></p>
                      <p>Select all that apply</p>
                      {% for  val in symptoms %}
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input raddio selectSymptomsCheckbox" value="{{ val }}"  name="symptomslist" id="symp{{ val }}">
                            <label class="custom-control-label" for="symp{{ val }}">{{ loop.index0 + 1 }}. {{ val }} </label>
                        </div>
                      {% endfor %}
                      <button type="button"  class="btn text-left" style="display: none;" id="submitSymptomsCheckbox">Submit.</button><br>

                  </div>
                  <div id="severeSymptoms" class="hide-later" style="display: none">
                      <br><p id="severSymptomsQuestion"></p>
                      {% for  val in severe_symptoms %}
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input raddio selectSevereSymptomsCheckbox" value="{{ val }}"  name="severe_symptomslist" id="symp1{{ val }}">
                            <label class="custom-control-label" for="symp1{{ val }}"> {{ val }} </label>
                        </div>
                      {% endfor %}
                      <button type="button" class="btn text-left "  id="submitSevereSymptomsCheckbox">Submit.</button><br>
                  </div>

                  <div id="selectSymptomsPeriod" class="hide-later" style="display: none;">
                      <br><p id="symptomsPeriodQuestion"></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio symptomsPeriodValue" id="lessThan3" name="symptomsPeriod">
                      <label class="custom-control-label" for="lessThan3">1. Less than 3 days.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio symptomsPeriodValue" id="lessThan7" name="symptomsPeriod">
                      <label class="custom-control-label" for="lessThan7">2. Less than 7 days.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input raddio symptomsPeriodValue" id="moreThan7" name="symptomsPeriod">
                      <label class="custom-control-label" for="moreThan7">3. More than 7 days.</label>
                    </div>
                  </div>
                <div id="selectUnderlyingCondition" class="hide-later" style="display: none;">
                      <br><p id="underlyingConditionQuestion"></p>
                      <p>Select all that apply</p>
                      {% for  condition in underlying %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input raddio selectUnderlyingCheckbox" value="{{ condition }}" name="underlyinglist" id={{ condition }}>
                            <label class="custom-control-label" for={{ condition }}>{{ loop.index0 + 1 }}. {{ condition }} </label>
                        </div>
                      {% endfor %}
                    <button type="button" class="btn text-left" id="submitUnderlyingCheckbox" style="display: none;">Submit</button>

                  </div>

               <div id="contactCovid19" class="hide-later" style="display: none">
                  <br><p id="contactCovid19Message"></p>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input raddio contactCovid" id="didContactCovid19" name="contactCovid">
                  <label class="custom-control-label" for="didContactCovid19">
                  Have contact with someone diagnosed with COVID-19
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input raddio contactCovid" id="liveContactCovid19" name="contactCovid">
                  <label class="custom-control-label" for="liveContactCovid19">
                      Live in or visit a place where COVID-19 is spreading
                  </label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input raddio contactCovid" id="notContactCovid19" name="contactCovid">
                  <label class="custom-control-label" for="notContactCovid19">
                      None of the above.
                  </label>
                </div>
                  <input  id="contactCheckerHidden" name="contactCheckerHiddenInput" style="display: none;">

              </div>





                  <div id="seekHelp" style="display: none">
                      <p id="seekHelpMessage"></p>
                  </div>
                  <div id="goodbye_message" class="hide-later" style="display: none;">
                    <br><p id = "responseMessage">Thank you you for your participation. Remember to wash hands and minimize contact to other people.
                    <br>Hali yako ni hali yangu.</p>
                </div>

                <br><button type="button"  class="btn btn-primary" id="cancel_btn" >Cancel</button>

                <div id="btn_container" class="hide-later" style="display: none">
                    <button type="button"  class="btn btn-primary" id="home_btn">Home</button>
                    <button type="button"  class="btn btn-primary" id="retake_btn" >Re-Take</button>
                </div>
                  </div>
            </fieldset>

        </form>
      </div>

    </div>
  </div>


<!--  CORONA UPDATES -->
      <div id="corona_updates_div" class="col-lg-8 col-md-8 col-xs-12 scrollable-column" style="display: block;">
        <div class="card card-tasks">
{#          <div class="card-header ">#}
{#            <h6 class="title d-inline" >Corona Updates</h6>#}
{#<!--              <div class = "d-inline pull-right">-->#}
{#                <button id="report_covid19_btn" class="d-inline btn btn-info btn-rounded btn-sm float-right">create post</button>#}
{#<!--             </div>-->#}
{##}
{#<!--            <p class="card-category d-inline">today</p>-->#}
{#<!--              <form method="methodpost" action="/trend_county">-->#}
{#<!--                <fieldset class="form-group">-->#}
{#<!--                    <div class="input-group mb-3">-->#}
{##}
{#<!--                    </div>-->#}
{#<!--                </fieldset>-->#}
{#<!--             </form>-->#}
{##}
{#          </div>#}
          <div class="card-body ">
              <select class="mdb-select md-form colorful-select dropdown-secondary"  searchable="Search here.." onChange="update_news_table(this.selectedIndex);" name="countyName" id="selectCountyOption_news">
                  <option  value="" disabled selected>all counties</option>
                  {% for county in counties %}
                      <option value="{{ county["code"] }}">{{ county["code"] }} : {{ county["name"] }}</option>
                  {% endfor %}
              </select>

            <div id= "news_div" >
              <table class="table">
                <tbody>
                {% for new in news %}
                    <tr id="td{{ loop.index0 }}">
                    <td>
                      <p class="title">{{ new["title"] }}</p>
                      <p class="text-muted">{{ new["body"] }}</p><br>
                      <div class="d-inline pull-left">
                          <i class="d-inline fa fa-arrow-up" style="color:green"></i>
                          <p class ="d-inline text-muted">10</p>
                          <i class="d-inline fa fa-arrow-down" style="color:red"></i>

                      </div>
                      <div class="d-inline" >
                         <p class ="d-inline text-muted reply-post" id="replyPost{{loop.index0}}}"> REPLY  </p>
                      </div>
                      <div class="d-inline pull-right">
                          <i class='d-inline fas fa-comment-alt'></i>
                          <p class ="d-inline text-muted"> 20 comments</p>
                      </div>
                    </td>
                  </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


<!--        REPORT CORONA -->
   <div id="report_covid19_div"  style="display: none;"  class="col-lg-8 col-md-8 col-xs-12 scrollable-column">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-info">
          <span>Report Corona</span>
        </div>
        <form id="submit_report_form" method="post">
            <fieldset class="form-group">
                  <div id="username">
                    Enter your name (*optional)
                    <div class="form-group">
<!--                        <label for="usr">Name:</label>-->
                        <input type="text" class="form-control" name="usr">
                    </div>
                  </div>
                  <!-- User answered 1 -->

                <div id="selectLocationReport">
                    <p id="selectLocationQuestionReport"></p><br>
                      <select class="mdb-select md-form colorful-select dropdown-secondary" searchable="Search here.." id="selectCountyOptionReport" name="countyName">
                              <option value="">select county</option>
                          {% for county in counties %}
                              <option value="{{ county["code"] }}">{{ county["code"] }} : {{ county["name"] }}</option>
                          {% endfor %}
                      </select>
                  </div>

                  <!-- User answered 1 -->
                <div id="report_title">
                    Title:
                    <div class="form-group">
<!--                        <label for="usr">Title:</label>-->
                        <input type="text" class="form-control" name="title">
                    </div>
                </div>

                <div class="form-group">
                    Report body
<!--                    <label for="comment">Report:</label>-->
                    <div class="form-group">
                        <textarea class="form-control" rows="7"  name="body"></textarea>
                    </div>

                </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="submitReport_btn">post</button>
                 </div>
            </fieldset>

        </form>
      </div>

    </div>
  </div>


    <div class="col-lg-4 col-md-4 col-xs-12 scrollable-column d-none d-sm-block">
{#        <section class="section widget-content">#}
{#            <!-- Heading -->#}
{#        <h4 class="font-weight-bold pt-2"><strong>FEATURED POSTS</strong></h4>#}
{#        <hr class="red title-hr mb-4">#}
{#        <!--Accordion wrapper-->#}
{#        <div id="news_div_n"></div>#}
{#        </section>#}
        <section class="section-preview">

          </section>

      </div>

    </div>

    </div>
          <div class="tab-pane fade d-sm-none" id="news-tab" role="tabpanel" aria-labelledby="news-tab-just">
             <section class="section widget-content">
            <!-- Heading -->
                <h4 class="font-weight-bold pt-2"><strong>FEATURED POSTS</strong></h4>
                <hr class="red title-hr mb-4">
                <!--Accordion wrapper-->
                <div id="news_div_n"></div>
            </section>

          </div>
        </div>
    </div>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}