{% extends "new_base.html" %}
{% block title %} Login {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="content-section d-flex justify-content-center">
        <div class="d-flex flex-lg-column flex-center">
            <!--Form with header-->
            <div class="card" style="margin-top: 80px">
                <!--Header-->
                <div class="header pt-3 purple-gradient">

                  <div class="row d-flex justify-content-center">
                      <i class="fas fa-sign-in ml-1"></i>
                    <h3 class="white-text mb-3 pt-3 font-weight-bold">Sign Up <i class="fas fa-sign-up ml-1"></i></h3>
                  </div>
                </div>

                <div class="card-body mx-4 mt-4">
                    <form method="post" action="">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="md-form form-sm mb-4">
                                <i class="fas fa-user prefix"></i>
                                {{ form.username.label(class="form-control-label") }}
                                {% if form.username.errors %}
                                    {{ form.username(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.username.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.username(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>
                            <div class="md-form form-sm mb-4">
                                <i class="fas fa-lock prefix"></i>
                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>
                            <div class="md-form form-sm mb-4">
                                <i class="fas fa-lock prefix"></i>
                                {{ form.confirm_password.label(class="form-control-label") }}
                                {% if form.confirm_password.errors %}
                                    {{ form.confirm_password(class="form-control form-control-sm is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.confirm_password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.confirm_password(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="md-form form-sm mb-4">
                            {{ form.submit(class="btn btn-block btn-rounded z-depth-1 purple-gradient") }}
                        </div>

                    <p class="pt-1">Already have an account? <a href="{{ url_for('register') }}" class="blue-text">Log In</a></p>
                    </form>
                </div>
            </div>
        </div>
</div>

<!-- Specific Page JS goes HERE  -->
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}
