{% extends "base-site.html" %}

{% block title %} UI Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
<!--      <div class="card-header">-->
<!--        <h4 class="card-title">Report Corona</h4>-->
<!--      </div>-->
      <div class="card-body">
        <div class="alert alert-info">
          <span>Report Corona</span>
        </div>
        <form method="post" action="/report_covid19">
            <fieldset class="form-group">
                  <div id="welcomeBot">
<!--                    Welcome to Hali Yako.<br>-->
<!--                    What can we do for you<br>-->
<!--                      &lt;!&ndash; Default unchecked &ndash;&gt;-->
{#                    <div class="custom-control custom-radio">#}
{#                      <input type="radio" class="custom-control-input" id="selfCheckSymptoms" name="welcomeSelfCheck">#}
{#                      <label class="custom-control-label" for="selfCheckSymptoms">1. Self Check your symptoms</label>#}
{#                    </div>#}
{#                    <div class="custom-control custom-radio">#}
{#                      <input type="radio" class="custom-control-input" id="logMovements" name="welcomeSelfCheck">#}
{#                      <label class="custom-control-label" for="logMovements">2. Log your movements</label>#}
{#                    </div>#}
{#                    <div class="custom-control custom-radio">#}
{#                      <input type="radio" class="custom-control-input" id="reportCoronaInfo" name="welcomeSelfCheck">#}
{#                      <label class="custom-control-label" for="reportCoronaInfo">3. Report information</label>#}
{#                    </div>#}
{#                  </div>#}

                  <div id="username">
                    Enter your name (*optional)
                    <div class="form-group">
<!--                        <label for="usr">Name:</label>-->
                        <input type="text" class="form-control" name="usr">
                    </div>
                  </div>
                  <!-- User answered 1 -->
                  <div id="selectCheckerParent">
                    Is your post specific to county?
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="isCountySpecific" name="countySpecific">
                      <label class="custom-control-label" for="isCountySpecific">1. County specific.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="notCountySpecific" name="countySpecific">
                      <label class="custom-control-label" for="notCountySpecific">2. Country wide.</label>
                    </div>
                       <input type="hidden" id="custId" name="custId" value="country">

                  </div>

                <div id="selectLocationReport" style="display: none;">
                    <p id="selectLocationQuestionReport"></p><br>
                      <select class="custom-select" id="selectCountyOptionReport" name="countyName">
                              <option value=""></option>
                          {% for county in counties %}
                              <option value="{{ county["code"] }}">{{ county["code"] }} : {{ county["name"] }}</option>
                          {% endfor %}
                      </select>
                  </div>

                  <!-- User answered 1 -->
                <div id="report_title">
                    Title:
                    <div class="form-group">
<!--                        <label for="usr">Title:</label>-->
                        <input type="text" class="form-control" name="title">
                    </div>
                </div>

                <div class="form-group">
                    Report body
<!--                    <label for="comment">Report:</label>-->
                    <textarea class="form-control" rows="7"  name="body"></textarea>
                </div>

            </fieldset>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="submitReport">Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="col-md-6">
                <h3>
              <a>
                <strong>Corona Virus related news</strong>
              </a>
            </h3>
            <p>
                Get the latest Covid19 related news from Kenya and the world
            </p>

            <!--/Featured news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://www.standardmedia.co.ke/images/tuesday/dircxipqlspy5e830ecb3b1cd.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://www.standardmedia.co.ke/article/2001366363/the-new-normal-a-food-and-travel-buff-s-corona-experience">

                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://www.standardmedia.co.ke/article/2001366363/the-new-normal-a-food-and-travel-buff-s-corona-experience">
                    The New “Normal”: A food and travel buff's corona experience
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://www.standardmedia.co.ke/images/tuesday/zix654ibibste25e82dfb5714de.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://www.standardmedia.co.ke/business/article/2001366328/uncertain-future-as-key-sectors-catch-corona-bug">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://www.standardmedia.co.ke/business/article/2001366328/uncertain-future-as-key-sectors-catch-corona-bug">
                    Dutch corona death toll tops 1000, but in Brabant there is ...
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://www.dutchnews.nl/wpcms/wp-content/uploads/2020/03/vondel-park-keep-your-distance-640x480.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://www.dutchnews.nl/news/2020/03/dutch-corona-death-toll-tops-1000-but-in-brabant-there-is-improvement/">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://www.dutchnews.nl/news/2020/03/dutch-corona-death-toll-tops-1000-but-in-brabant-there-is-improvement/">
                    Uncertain future as key sectors catch Corona bug
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->
            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://3dwnh01icn0h133s00sokwo1-wpengine.netdna-ssl.com/wp-content/uploads/2019/08/rasanga-pic-e1566896777613.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://citizentv.co.ke/news/siaya-county-government-suspends-tax-collection-for-30-days-over-corona-virus-328303/">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://citizentv.co.ke/news/siaya-county-government-suspends-tax-collection-for-30-days-over-corona-virus-328303/">
                    Siaya County government suspends tax collection for 30 days ...
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://www.cio.co.ke/wp-content/uploads/2020/03/Huawei-officials-pose-before-the-donated-video-conferencing-equipment.jpg" class="img-fluid" alt="Minor sample post image">
                  <a href="https://www.cio.co.ke/uganda-telecom-giants-joins-fight-to-eradicate-new-corona-virus/">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>01/4/2020</strong>
                </p>
                <a href="https://www.cio.co.ke/uganda-telecom-giants-joins-fight-to-eradicate-new-corona-virus/">
                    Search mounted for 80 people after contact with corona ...
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

          </div>
          <!--Grid column-->

  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="../static/js/selfCheck.js"></script>
{% endblock javascripts %}
