{% from "macros.html" import kenya_covid19_news %}
{% extends "base-site.html" %}

{% block title %} UI Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-6">>
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Corona Self-Checker</h4>
      </div>
      <div class="card-body">
        <form method="post" action="/self_checker">
            <fieldset class="form-group">
                  <div id="welcomeBot">
                      <p>Welcome to Hali Yako Coronavirus Self-Checker.</p><br>
                      <p>
                          This is meant as a guide to help you make decisions and seek appropriate medical care. This system is not intended for the diagnosis or
                          treatment of disease or other conditions, including COVID-19. This system is intended only
                          for people who are currently located in Kenya.
                      </p>

                  </div>
                  <div id="selectCheckerParent">
                      <p>Are you answering for yourself or someone else.</p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="checkMyself" name="selectChecker">
                      <label class="custom-control-label" for="checkMyself">1. Myself.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="checkSomeoneElse" name="selectChecker">
                      <label class="custom-control-label" for="checkSomeoneElse">2. Someone else.</label>
                    </div>
                      <input  id="checkerHiddenInput" name="checkerHiddenInput" style="display: none;">

                  </div>

                  <!-- User answered 1 -->
                  <div id="selectLocation" style="display: none;">
                    <p id="selectLocationQuestion"></p><br>
                      <select class="custom-select" id="selectCountyOption" name = "selectCountyOption">
                              <option value=""></option>
                          {% for county in counties %}
                              <option value="{{ county["code"] }}">{{ county["code"] }} : {{ county["name"] }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div id="selectAge" style="display: none;">
                    <p id="selectAgeQuestion"></p><br>

                      <select class="custom-select" id="selectAgeOption" name="selectAgeOption">
                              <option value=""></option>
                          {% for i in range(1,100) %}
                              <option value="{{ i }}">{{ i }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div id="selectGender" style="display: none;">
                      <p id="selectGenderQuestion"></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input genderOption" id="genderMale" name="selectGender">
                      <label class="custom-control-label" for="genderMale">1. Male.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input genderOption" id="genderFemale" name="selectGender">
                      <label class="custom-control-label" for="genderFemale">2. Female.</label>
                    </div>
                      <input  id="genderHiddenInput" name="genderHiddenInput" style="display: none;">
                  </div>
                  <div id="selectSymptoms" style="display: none;">
                      <p id="selectSymptomsQuestion"></p>
                      <p>Select all that apply</p>
                      {% for  val in symptoms %}
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input selectSymptomsCheckbox" value="{{ val }}"  name="symptomslist" id={{ val }}>
                            <label class="custom-control-label" for={{ val }}>{{ loop.index0 + 1 }}. {{ val }} </label>
                        </div>
                      {% endfor %}
                  </div>
                  <button type="button" class="btn text-left" style="display: none;" id="submitSymptomsCheckbox">Submit.</button><br>
                  <div style="display: none;" >
                  <p>
                    Sounds like you are feeling ok

                    This Coronavirus Self-Checker system is for those who may be sick.
                  </p>
                  <p>
                      Stay safe. Wash your your hand regularly and avoid crowded places. Hali yako ni hali yangu.
                  </p>
                  </div>
                  <div id="selectSymptomsPeriod" style="display: none;">
                      <p id="symptomsPeriodQuestion"></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input symptomsPeriodValue" id="lessThan3" name="symptomsPeriod">
                      <label class="custom-control-label" for="lessThan3">1. Less than 3 days.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input symptomsPeriodValue" id="lessThan7" name="symptomsPeriod">
                      <label class="custom-control-label" for="lessThan7">2. Less than 7 days.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input symptomsPeriodValue" id="moreThan7" name="symptomsPeriod">
                      <label class="custom-control-label" for="moreThan7">3. More than 7 days.</label>
                    </div>
                  </div>
                  <div id="selectUnderlyingCondition" style="display: none;">
                      <p id="underlyingConditionQuestion"></p>
                      <p>Select all that apply</p>
                      {% for  condition in underlying %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input selectUnderlyingCheckbox" value="{{ condition }}" name="underlyinglist" id={{ condition }}>
                            <label class="custom-control-label" for={{ condition }}>{{ loop.index0 + 1 }}. {{ condition }} </label>
                        </div>
                      {% endfor %}
                  </div>
                    <button type="submit" class="btn text-left" id="submitUnderlyingCheckbox" style="display: none;">Submit</button>
                <div style="display: none;">
                    <p>Call 911 - You may be having a medical emergency. Call 911 now. Immediate medical attention is needed.
                        Tell the 911 operator if you have been in contact with someone with COVID-19 or if you have recently
                        been to an area where COVID-19 is spreading.
                    </p>
                </div>
            </fieldset>
        </form>
      </div>

    </div>
  </div>
  <div class="col-lg-6 col-md-12 overflow-auto">
        {{ kenya_covid19_news(news_kenya_now) }}

  </div>

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="../static/js/selfCheck.js"></script>
{% endblock javascripts %}
