{% extends "base-site.html" %}

{% block title %} UI Notifications {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Corona Self-Checker</h4>
      </div>
      <div class="card-body">
        <div class="alert alert-info">
          <span>This is a plain notification</span>
        </div>
        <form method="post" action="/self_checker">
            <fieldset class="form-group">
                  <div id="welcomeBot">
                      <p>Welcome to Hali Yako self check.</p><br>
                  <div id="selectCheckerParent">
                      <p>Are you answering for yourself or someone else.</p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="checkMyself" name="selectChecker">
                      <label class="custom-control-label" for="checkMyself">1. Myself.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" id="checkSomeoneElse" name="selectChecker">
                      <label class="custom-control-label" for="checkSomeoneElse">2. Someone else.</label>
                    </div>
                      <input  id="checkerHiddenInput" name="checkerHiddenInput" style="display: none;">

                  </div>

                  <!-- User answered 1 -->
                  <div id="selectLocation" style="display: none;">
                    <p id="selectLocationQuestion"></p><br>
                      <select class="custom-select" id="selectCountyOption" name = "selectCountyOption">
                              <option value=""></option>
                          {% for county in counties %}
                              <option value="{{ county["code"] }}">{{ county["code"] }} : {{ county["name"] }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div id="selectAge" style="display: none;">
                    <p id="selectAgeQuestion"></p><br>

                      <select class="custom-select" id="selectAgeOption" name="selectAgeOption">
                              <option value=""></option>
                          {% for i in range(1,100) %}
                              <option value="{{ i }}">{{ i }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div id="selectGender" style="display: none;">
                      <p id="selectGenderQuestion"></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input genderOption" id="genderMale" name="selectGender">
                      <label class="custom-control-label" for="genderMale">1. Male.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input genderOption" id="genderFemale" name="selectGender">
                      <label class="custom-control-label" for="genderFemale">2. Female.</label>
                    </div>
                      <input  id="genderHiddenInput" name="genderHiddenInput" style="display: none;">
                  </div>
                  <div id="selectSymptoms" style="display: none;">
                      <p id="selectSymptomsQuestion"></p>
                      <p>Select all that apply</p>
                      {% for  val in symptoms %}
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input selectSymptomsCheckbox" value="{{ val }}"  name="symptomslist" id={{ val }}>
                            <label class="custom-control-label" for={{ val }}>{{ loop.index0 + 1 }}. {{ val }} </label>
                        </div>
                      {% endfor %}
                  </div>
                  <button type="button" class="btn text-left" style="display: none;" id="submitSymptomsCheckbox">Submit.</button><br>
                  <div id="selectSymptomsPeriod" style="display: none;">
                      <p id="symptomsPeriodQuestion"></p>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input symptomsPeriodValue" id="lessThan3" name="symptomsPeriod">
                      <label class="custom-control-label" for="lessThan3">1. Less than 3 days.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input symptomsPeriodValue" id="lessThan7" name="symptomsPeriod">
                      <label class="custom-control-label" for="lessThan7">2. Less than 7 days.</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input symptomsPeriodValue" id="moreThan7" name="symptomsPeriod">
                      <label class="custom-control-label" for="moreThan7">3. More than 7 days.</label>
                    </div>
                  </div>
                  <div id="selectUnderlyingCondition" style="display: none;">
                      <p id="underlyingConditionQuestion"></p>
                      <p>Select all that apply</p>
                      {% for  condition in underlying %}
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input selectUnderlyingCheckbox" value="{{ condition }}" name="underlyinglist" id={{ condition }}>
                            <label class="custom-control-label" for={{ condition }}>{{ loop.index0 + 1 }}. {{ condition }} </label>
                        </div>
                      {% endfor %}
                  </div>
                    <button type="button" class="btn text-left" id="submitUnderlyingCheckbox" style="display: none;">Submit</button>
                <div style="display: none;">
                    Thank you you for your participation
                </div>
            </fieldset>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="submitSelfCheck" disabled>Submit</button>
          </div>
        </form>
      </div>

    </div>
  </div>
  <div class="col-lg-6 col-md-12">
            <h3>
              <a>
                <strong>This is title of the news</strong>
              </a>
            </h3>
            <p> Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
              placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
            </p>

            <!--/Featured news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://mdbootstrap.com/img/Photos/Others/photo11.jpg" class="img-fluid" alt="Minor sample post image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>19/08/2018</strong>
                </p>
                <a>Lorem ipsum dolor sit amet
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://mdbootstrap.com/img/Photos/Others/images/51.jpg" class="img-fluid" alt="Minor sample post image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>18/08/2018</strong>
                </p>
                <a>Soluta nobis est eligendi
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

            <hr>

            <!--Small news-->
            <div class="row">
              <div class="col-md-3">

                <!--Image-->
                <div class="view overlay rounded z-depth-1">
                  <img src="https://mdbootstrap.com/img/Photos/Others/images/44.jpg" class="img-fluid" alt="Minor sample post image">
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>

              <!--Excerpt-->
              <div class="col-md-9">
                <p class="dark-grey-text">
                  <strong>17/08/2018</strong>
                </p>
                <a>Voluptatem accusantium doloremque
                  <i class="fas fa-angle-right float-right"></i>
                </a>
              </div>

            </div>
            <!--/Small news-->

          </div>
          <!--Grid column-->

</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="../static/js/selfCheck.js"></script>
{% endblock javascripts %}
