{% extends "new_base.html" %}

<!-- Page Title goes HERE -->
{% block title %}Home{% endblock %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


<!-- Page body Content goe HERE  -->
{% block content %}
<select class="mdb-select md-form">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}