
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">
{#                <img src="../../static/img/haliyetu2.png" style="height: 50%; margin-bottom: 3px">#}
                Hali Yetu
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">

            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-sound-wave"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="../../static/assets/img/anime3.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
              <li class="separator d-lg-none"></li>
            </ul>

          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->


<!--Navbar -->
{#<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color sticky-top">#}
{#  <a class="navbar-brand" href="#">#}
{#    <img src="../../static/img/haliyetu2.png" height="100" class="d-inline-block align-top mb-3"#}
{#      alt="mdb logo">#}
{#  </a>#}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"#}
{#    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{#  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">#}
{#    <ul class="navbar-nav ml-auto">#}
{#      <li class="nav-item active">#}
{#        <a class="nav-link" href="#">#}
{#          <i class="fab fa-facebook-f"></i> Facebook#}
{#          <span class="sr-only">(current)</span>#}
{#        </a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="#">#}
{#          <i class="fab fa-instagram"></i> Instagram</a>#}
{#      </li>#}
{#      <li class="nav-item dropdown">#}
{#        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"#}
{#          aria-haspopup="true" aria-expanded="false">#}
{#          <i class="fas fa-user"></i> Profile </a>#}
{#        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">#}
{#          <a class="dropdown-item" href="#">My account</a>#}
{#          <a class="dropdown-item" href="#">Log out</a>#}
{#        </div>#}
{#      </li>#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}
<!--/.Navbar -->