

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
<!--          <a href="#" class="simple-text logo-mini">-->
<!--            YT-->
<!--          </a>-->
          <a href="#" class="simple-text logo-normal">
            Hali Yetu
          </a>
        </div>
        <ul class="nav">
          <li id="corona_status" class="active ">
            <a>
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Corona Status</p>
            </a>
          </li>
          <li id="self_checker"  class="active ">
            <a >
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Corona Self-Checker</p>
            </a>
          </li>
            <li id="corona_updates"  class="active ">
            <a>
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Corona Updates</p>
            </a>
          </li>
          <li id="report_covid19" class="active ">
            <a>
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Report Corona</p>
            </a>
          </li>
          <li class="active ">
            <a href="/about-us">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>About Us</p>
            </a>
          </li>

          <li>
            <a href="/contact-us">
              <i class="tim-icons icon-atom"></i>
              <p>CONTACT US</p>
            </a>
          </li>
<!--          <li>-->
<!--            <a href="/ui-maps">-->
<!--              <i class="tim-icons icon-pin"></i>-->
<!--              <p>Maps</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="/ui-notifications">-->
<!--              <i class="tim-icons icon-bell-55"></i>-->
<!--              <p>Notifications</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="/page-user">-->
<!--              <i class="tim-icons icon-single-02"></i>-->
<!--              <p>User Profile</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="/ui-tables">-->
<!--              <i class="tim-icons icon-puzzle-10"></i>-->
<!--              <p>Table List</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="/ui-typography">-->
<!--              <i class="tim-icons icon-align-center"></i>-->
<!--              <p>Typography</p>-->
<!--            </a>-->
<!--          </li>-->

<!--          <li>-->
<!--            <a href="/page-rtl-support">-->
<!--              <i class="tim-icons icon-world"></i>-->
<!--              <p>RTL Support</p>-->
<!--            </a>-->
<!--          </li>-->

<!--          <li class="active-pro">-->
<!--            <a href="#">-->
<!--              <i class="tim-icons icon-spaceship"></i>-->
<!--              <p>See product</p>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
        
      </div>
    </div>
    {% block javascripts %}
    <script src="../static/js/selfCheck.js"></script>
  {% endblock javascripts %}
